swagger: "2.0"
info:
  description: |
    KPM API documentation
  version: "0.20.0"
  title: KPM API
  termsOfService: http://
  contact:
    name: antoine.legrand@coreos.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: kpm.kubespray.io
basePath: /
schemes:
  - https
paths:

  /api/v1/version:
    get:
      tags:
        - info
      summary: Display api version
      description: ""
      operationId: getVersion
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Version"

  /api/v1/packages:
    post:
      tags:
        - package
      summary: Push new package release to the registry
      description: ""
      operationId: createPackage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: force
          description: Force push the release (if allowed)
          required: false
          type: boolean
          default: false

        - in: body
          name: body
          description: Package object to be added to the registry
          required: true
          schema:
            $ref: "#/definitions/PostPackage"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Package"
        "404":
          description: Package not found (if force=true)
          schema:
            $ref: "#/definitions/Error"
        "409":
          description: Package already exists
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to create the package
          schema:
            $ref: "#/definitions/Error"

    get:
      tags:
        - package
      summary: List packages
      description: ""
      operationId: listPackages
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: organization
          description: "Filter by organization"
          required: false
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Packages"

  /api/v1/packages/{package}:
    get:
      tags:
        - package
      summary: Show a package
      description: ""
      operationId: showPackage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Package"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

    delete:
      tags:
        - package
      summary: Delete a package release
      description: ""
      operationId: deletePackage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Package"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

  /api/v1/packages/{package}/pull:
    get:
      tags:
        - package
      summary: Download the package
      description: ""
      operationId: pullPackage
      consumes:
        - application/json
      produces:
        - 'application/x-gzip'
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            type: file
            title: package-targz
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

  /api/v1/packages/{package}/tree:
    get:
      tags:
        - package
      summary: Display package directory tree
      description: ""
      operationId: treePackage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            type: string
            title: filepath
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

  /api/v1/packages/{package}/file/{filepath}:
    get:
      tags:
        - package
      summary: Returns the file content
      description: ""
      operationId: filePackage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string

        - in: path
          name: filepath
          description: Filepath
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            type: string
            title: filecontent
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

  /api/v1/deployments/{package}:
    post:
      tags:
        - deployment
      summary: Deploy a package server-side
      description: ""
      operationId: deployPackage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DeployResult"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

    delete:
      tags:
        - deployment
      summary: Uninstall a package server-side
      description: ""
      operationId: uninstallPackage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DeployResult"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"


  /api/v1/packages/{package}/channels:
    get:
      tags:
        - channel
      summary: List channels
      description: ""
      operationId: listChannels
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            type: array
            title: channels
            items:
              $ref: "#/definitions/Channel"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

    post:
      tags:
        - channel
      summary: Create a new channel
      description: ""
      operationId: createChannel
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: name
          description: Channel name
          required: true
          type: string
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Channel"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "409":
          description: Channel already exists
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to create the channel
          schema:
            $ref: "#/definitions/Error"

  /api/v1/packages/{package}/channels/{channel}:
    get:
      tags:
        - channel
      summary: List channels
      description: ""
      operationId: showChannel
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: channel
          description: channel name
          required: true
          type: string
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            type: array
            title: channels
            items:
              $ref: "#/definitions/Channel"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

    delete:
      tags:
        - channel
      summary: Delete channel
      description: ""
      operationId: deleteChannel
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: channel
          description: channel name
          required: true
          type: string
        - in: path
          name: package
          description: full package name
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            type: array
            title: channels
            items:
              $ref: "#/definitions/Channel"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

  /api/v1/packages/{package}/channels/{channel}/{release}:
    post:
      tags:
        - channel
      summary: Add a release to a channel
      description: ""
      operationId: createChannelRelease
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: channel
          description: channel name
          required: true
          type: string
        - in: path
          name: package
          description: full package name
          required: true
          type: string
        - in: path
          name: release
          type: string
          description: Release name
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Channel"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

    delete:
      tags:
        - channel
      summary: Remove a release from the channel
      description: ""
      operationId: deleteChannelRelease
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: channel
          description: channel name
          required: true
          type: string
        - in: path
          name: package
          description: full package name
          required: true
          type: string
        - in: path
          name: release
          type: string
          description: Release name
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            type: array
            title: channels
            items:
              $ref: "#/definitions/Channel"
        "404":
          description: Resource not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"


  /api/v1/packages/{package}/generate:
    get:
      tags:
        - build
      summary: Generate/build a package, returns a json
      description: ""
      operationId: buildJsonPackage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string

        - in: body
          name: build-info
          schema:
            $ref: "#/definitions/PostBuild"

      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PackageBuild"
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"

  /api/v1/packages/{package}/generate-tar:
    get:
      tags:
        - build
      summary: Generate/Build a package, returns a tarball with the resolved k8s-resources
      description: ""
      operationId: buildTarPackage
      consumes:
        - application/json
      produces:
        - "application/x-gzip"
      parameters:
        - in: path
          name: package
          description: full package name
          required: true
          type: string

        - in: body
          name: build-info
          schema:
            $ref: "#/definitions/PostBuild"

      responses:
        "200":
          description: successful operation
          schema:
            type: file
        "404":
          description: Package not found
          schema:
            $ref: "#/definitions/Error"
        "401":
          description: Not authorized to read the package
          schema:
            $ref: "#/definitions/Error"


definitions:

  Channel:
    type: object
    title: Channel
    description: 'Organize releases into channel, eg: dev/beta/stable'
    properties:
      channel:
        type: string
        title: Channel name
        description: Channel name
      current:
        type: string
        title: Latest release
        description: Current/latest release in the channel. The channel returns this release by default
      releases:
        type: array
        title: Releases
        description: All availables releases in the channel
        items:
          type: string
          title: Release name
          description: Release name

  Version:
    type: object
    properties:
      kpm-api:
        type: string

  Error:
    type: object
    properties:
      code:
        type: integer
        description: http status code
        title: http-code
      message:
        type: string
        description: "error message"
      details:
        type: object
        description: error extra data

  Packages:
    type: array
    title: Packages
    description: List packages
    items:
      $ref: "#/definitions/Package"

  Package:
    type: object
    title: Package
    description: Package object
    properties:
      available_versions:
        type: array
        title: available-releases
        description: All available releases
        items:
          type: string
          title: release-name
          description: Release name
      channels:
        title: channels
        description: List channels
        type: array
        items:
          $ref: "#/definitions/Channel"
      created_at:
        type: string
        title: created_at
        description: Package creation date
      manifest:
        type: string
        title: manifest
        description: "Package manifest file"
      name:
        type: string
        title: package-name
        description: Package name
      version:
        type: string
        title: package-version
        description: Package version

  PostBuild:
    type: object
    title: build
    description: build
    properties:
      version:
        description: Package version
        title: version
        default: latest
        type: string
      namespace:
        description: Kubernetes namespace
        type: string
        title: namespace
      variables:
        type: object
        title: variables
        description: package variables
      shards:
        type: object
        title: shards
        description: package shards

  DeployResult:
    type: object
    title: deploy-result
    description: States of the package / deployment
    properties:
      result:
        type: array
        title: result
        description: result
        items:
          type: object
          title: resource-state
          description: Information about the resource state in the cluster
          properties:
            package:
              type: string
              title: package-name.
              description: Package containing the resource
            version:
              type: string
              title: release
              description: Package release name
            kind:
              type: string
              title: resource-kind
              description: Kubernetes resource kind
            dry:
              type: boolean
              title: dry
              description: "Indicate a dry-run: no changes performed"
            name:
              type: string
              title: resource-name
              description: Kubernetes resource name
            namespace:
              type: string
              title: namespace
              description: Kubernetes namespace
            status:
              type: string
              title: status
              description: Action and status of the resource ('created/updated/deleted/absent/ok')

  PostPackage:
    type: object
    title: Package
    description: Package object
    properties:
      blob:
        type: string
        title: blob
        description: "Package blob: a tar.gz in b64-encoded"
        #required: true
      package:
        type: string
        title: package-name
        description: Package name
        #required: true
      version:
        type: string
        title: package-version
        description: Package version
        #required: true

  PackageBuild:
    type: object
    title: PackageBuild.
    description: Resolved package
    properties:
      deploy:
        type: array
        title: packages
        description: Package dependencies
        items:
          type: object
          title: dependency
          description: Dependent package
          properties:
            namespace:
              type: string
              title: namespace
              description: Kubernetes namespace where to deploy the current dependency
            package:
              type: string
              title: dependency-name.
              description: Dependency package-name
            version:
              type: string
              title: dependency-version.
              description: Dependency package version
            resources:
              type: array
              title: resources
              description: Kubernetes resources to manage
              items:
                type: object
                title: resource
                description: Kubernetes resource description
                properties:
                  body:
                    type: string
                    title: k8s-resource.
                    description: Kubernetes resource body
                  endpoint:
                    type: string
                    title: k8s-endpoint
                    description: Kubernetes endpoint to manage the resource
                  file:
                    type: string
                    title: file-name.
                    description: Optional file-name
                  hash:
                    type: string
                    title: digest
                    description: Resource sha256 digest
                  kind:
                    type: string
                    title: kind
                    description: Resource type
                  name:
                    type: string
                    title: name
                    description: Resource name
                  protected:
                    type: boolean
                    title: Protected
                    description: Resource annotated as protected

      package:
        type: object
        title: package
        description: Package to deploy
        properties:
          name:
            type: string
            title: package-name
            description: Package name
          version:
            type: string
            title: package-version
            description: Package release name
